/* Adding header to the home page */
*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    height: 100%;
}
.headerContent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    background-color: #FFFFFF;
    align-items: center;

}
.headerContentItem
{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}
.Headertext
{
    font: normal normal bold 22px/25px Montserrat ;
    font-family: "Montserrat" ,sans-serif;
    text-transform: capitalize;
    color: #82A70C;
}
.logo-text1
{
    color:#42515F; 
}
.EmployeeIcon
{
    border:0px solid #42515F;
}
/* Main header content */
.MainContent
{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80 px);
    padding: 32px 0 10px;
    background-color: #F7F7F7 ;
    box-sizing: border-box;    
    justify-content: center;
}
.Header-Content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 25px;
}
.Header-Content>.header-Text
{
    font: normal normal bold 28px/25px Roboto;
    color: #42515F;
    opacity: 1;
    display: flex;
    align-items: center;
}
/* Styling table */
.table-Main
{
    width: 80%;
    margin:0 auto;
    overflow: auto;
}
.empCount
{
    background-color: #82A70C;
    color: #FFFFFF;
    border-radius: 47%;
    width:26px;
    font-size: 16px;
    text-align: center;
    display:inline-block;
    margin-left: 10px;
}
.addButton
{
    display: flex;
    background-color: #82A70C;
    font: normal normal normal 22px/29px Roboto;
    color: #FFFFFF;
    opacity: 1;
    padding:5px 18px;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
}
.addButton >img
{
    height: 35px;
}
/* UC3 Styling the table */
.EmpTable
{
    width: 100%;
    border-collapse:separate ;
    border-spacing: 0 13px;
    min-width: 100px;
}
td,th
{
  text-align: left;
  padding: 5px 8px;
}
th
{
    background-color:#42515F ;
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0px solid #dddddd;
    padding: 20px;
}
tr:not(:first-child)
{
    background-color:#FFFFFF ;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
}
td
{
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    color: #3D3D3D;
    opacity: 1;
    padding-left: 20px;
}
td:first-child
{
    display: flex;
    align-items: center;
}
td img:first-child
{
    margin-right: 10px;
}
.department
{
    font: normal normal normal 14px/19px Roboto;
    color: #3D3D3D;
    text-transform: capitalize;
    opacity: 1;
    background: #E9FEA5 0% 0% no-repeat padding-box;
    border-radius: 13px;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}
td img
{
    cursor: pointer;
}