/* Adding header to the home page */
*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    height: 100%;
}
.headerContent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    background-color: #FFFFFF;
    align-items: center;

}
.headerContentItem
{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}
.Headertext
{
    font: normal normal bold 22px/25px Montserrat ;
    font-family: "Montserrat" ,sans-serif;
    text-transform: capitalize;
    color: #82A70C;
}
.logo-text1
{
    color:#42515F; 
}
.EmployeeIcon
{
    border:0px solid #42515F;
}